.container {
    display:flex;
    flex-direction: column;
}

#containers12, #containers34 {
    display: flex;
    justify-content: space-evenly;
}

#numberContainer {
    display: flex;
    max-width: 750px;
    flex-wrap: wrap;
}

#numberContainer div {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;

}

html {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
}

#displayContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}